{% extends "Template/layout.html.twig" %}

{% block content %}
    <div>List of users</div>

    {% if users|length %}
        <ul>
            {% for user in users %}
                <li>
                    <dl>
                        <dt>Id</dt>
                        <dd>{{ user.getId() }}</dd>
                        <dt>Username</dt>
                        <dd>{{ user.getUsername() }}</dd>
                        <dt>Wallet</dt>
                        <dd>{{ user.getWallet() }}</dd>

                        <dt>Actions</dt>
                        <dd>
                            <a href="{{ generateUrlForRoute('user_authentication_simple_login', {'id' : user.getId()}) }}">login
                                as {{ user.getUsername() }}</a>
                        </dd>
                    </dl>
                </li>
            {% endfor %}
        </ul>    {% else %}
        <div>List is empty<div>
    {% endif %}


{% endblock %}