{% block content %}
    <ul>

        <li><a href="{{ generateUrlForRoute('article_list') }}">List of articles</a></li>
        <li><a href="{{ generateUrlForRoute('author_list') }}">List of authors</a></li>
        <li><a href="{{ generateUrlForRoute('category_list') }}">List of categories</a></li>
        <li><a href="{{ generateUrlForRoute('user_authentication_login') }}">User login</a></li>
        <li><a href="{{ generateUrlForRoute('user_list') }}">List of users</a></li>
    </ul>
{% endblock %}
