{% extends "Template/layout.html.twig" %}

{% block content %}

    <dl>
        <dt>Id</dt>
        <dd>{{ article.getId() }}</dd>

        <dt>Title</dt>
        <dd>{{ article.getTitle() }}</dd>

        <dt>Short description</dt>
        <dd>{{ article.getShortDescription() }}</dd>

        <dt>Content</dt>
        <dd>
            {% if canUserAccessArticleContent %}
                {{ article.getContent() }}
            {% else %}
                Purchase to read full version of this article.
                Click <a title="here" href="{{ "/articles/purchase/%s"|format(article.getId()) }}">here</a>.
            {% endif %}
        </dd>

        <dt>Price</dt>
        <dd>{{ article.getPrice() }}</dd>

        <dt>Category</dt>
        <dd>
            {% if article.category %}
                {{ article.category.getName() }}
            {% else %}
                unassigned
            {% endif %}

        </dd>

    </dl>
{% endblock %}